body {
    background-image: url('../images/grey.png');
    background-position: center;
}

.login{
    background-image: url('../images/b2.jpg');
}

.container {
    padding: 0px;
}

#map-canvas {
    height: 600px;
    width: 100%;
    padding: 0px;
    z-index: 0;
    margin-top: 50px;
}

#panel {    
    padding: 5px;
    float: right;
    background: white;
    width: 100%;
    border-bottom: 1px solid #eee;
    box-shadow: 2px 2px 5px #eee;
}

#live-tweet{
    width: 60%;
    color: #777;
}

.map_btn{
    background: #eee;
    border: 1px solid #aaa;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #eee;
}

#pop-tweets {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background: white;
    border-radius: 3px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 5px #eee;
    margin-top: 100px;
    padding: 5px;
}

table tr{
    text-transform: uppercase;
}

#top-nav {
    background: #F44336;
    width: 100%;
    height 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 5px #555;
    position: fixed;
    z-index: 100;
}

#top-nav a{
    padding: 5px;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    display: inline;
    font-weight: bold;
}

#search{
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 5px;
    width: 50%;
    margin-left: 10%;
    display: inline;
}

#signup-form{
    margin-top: 100px;
    background: white;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 5px #AAA;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#signup-form input, #signup-form button{
    margin-bottom: 10px;
}

.set-panel{
    margin-top: 100px;
    background: white;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 5px #AAA;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 3px;
}

#signup-btn{
    background: #43A047;
    color:white;
    padding: 5px;
    border-radius: 3px;
    font-size: 1.5em;
    border: 1px solid #AAA;
    box-shadow: 1px 2px 3px #AAA;
    width: 100%;
}

#signup-btn:hover{
    background: #4CAF50;
}

#signin-btn{
    background: #1976D2;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 1.5em;
    border: 1px solid #AAA;
    box-shadow: 1px 2px 3px #AAA;
    width: 100%;
}

#change-btn{
    background: #1976D2;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 1em;
    border: 1px solid #AAA;
    box-shadow: 1px 2px 3px #AAA;
    margin-top: 20px;
    margin-bottom: 20px;
}

#signin-btn:hover, #change-btn:hover{
    background: #2196F3;
}

.form-input{
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    border: 1px solid #eee;
}

#app-name{
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    color: #555;
}

.nav_name{
    color: white;
    font-size: 1.2em;
    display: inline;
    float: right;
    margin-right: 1%;
}

.nav_name:hover{
    cursor: pointer;
}

#delete-txt{
    font-size: 0.8em;
    padding-top: 100px;
}

.icon {
    height: 30px;
    float: right;
    margin-right: 20px;
}

.icon:hover {
    opacity: 0.7;
}

#more-btn{
    margin: 0 auto;
    background: #eee;
    border: 1px solid #aaa;
    padding: 5px;
    border-radius: 3px;
    margin-left: 45%;
    box-shadow: 2px 2px 5px #eee;
    margin-bottom: 20px;
}

#signup-txt{
    font-size: 0.5em;
    font-weight: normal;
}